.gradient-custom {
  /* fallback for old browsers */
  background: rgb(83, 18, 90);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgb(83, 18, 90), rgb(83, 18, 90));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgb(9, 27, 127), rgb(83, 18, 90))
  }

  .my-custom-color {
    background-color: rgb(9, 27, 127);
    border-color: rgb(9, 27, 127);
    color: white;
  }

  :root {
    --primary-color: rgb(9, 27, 127);
  }

  .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: rgb(9, 27, 127);
  }

.eye{
  right: 1%;
}
