<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">

  </div>
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="/home">Tone Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#!">All Products</a></li>
                      <li><hr class="dropdown-divider" /></li>
                      <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                      <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                  </ul>
              </li>
          </ul>
          <form class="d-flex mx-3">
              <button class="btn btn-outline-dark" routerLink="/customer/:id/checkout " type="submit" *ngIf="admin && !customer">
                  Cart
              </button>
              <button class="btn btn-outline-dark" routerLink="/customer/:id/checkout" type="submit" *ngIf="!customer">
                Cart
            </button>

          </form>


          <form class="d-flex">
            <button *ngIf="!isLogged" class="btn btn-outline-dark" type="submit" routerLink="/login">
                Login
            </button>
            <button *ngIf="isLogged"  (click)="onLogOut()"  class="btn btn-outline-dark" type="submit" routerLink="login">
                Logout
          </button>

          <form class="mx-3 mt-1">
            <svg
            routerLink="customer/{{id}}/account"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="omh-svg"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" class="omh-path"/>
            <path class="omh-path"
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0
              0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
            </form>

        </form>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>
